.cart {
  position: fixed;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  margin-bottom: 30%;
  padding-left: 10px;
  display: block;
  @media screen and (max-width: 1097px) {
    display: none;
  }
  .cart_orders {
    height: 70%;
    overflow: auto;
  }
  .title {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    background-color: white;
    img {
      height: 20px;
      width: 20px;
      margin-right: 40px;
    }
    p {
      font-size: 40px;
      font-weight: 400;
      margin-left: 10px;
    }
  }
  .cartlist {
    margin-top: 100px;
  }
  .details {
    height: 25%;
    background-color: rgb(204, 203, 202);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .price_detail1 {
      margin: 10px;
      display: flex;
      justify-content: space-between;
    }
    .price {
      font-size: 30px;
      font-weight: 500;
    }
    hr {
      border: 1px dashed black;
    }
  }
}
