.main{
    height: 100%;
    gap: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70PX;
    @media screen and (max-width:1058px) {
        gap:10px 10px
        
    }
}