.main{
    height: 100%;
    // width: 70%;
    gap: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin: 10px 10PX 0 10px;
    padding-bottom: 70PX;
}