.outerdiv{
  padding: 5px;
width: 32%;
min-width: 350px;
.card_field {
  height: 398px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  

  @media screen and (max-width: 767px) {
    height: 220px;
    display: flex;
    width: 100%;
  }

  .card_image {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    position: relative;

    img {
      margin-left: 10px;
      margin-top: 10px;
      width: 94%;
      height: 94%;
      border-radius: 20px;

      @media screen and (max-width: 758px) {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }

    @media screen and (max-width: 758px) {
      height: 100%;
      width: 50%;
    }

    .cartimage {
      height: 40px;
      width: 40px;
      position: absolute;
      right: 0;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      margin-top: 15px;
      border-radius: 5px;
      background-color: rgba(250, 248, 248, 0.5);

      @media screen and (max-width: 758px) {
        height: 20px;
        width: 20px;
        margin-right: 5px;

        img {
          color: orange;
        }
      }

      img {
        height: 100%;
        width: 100%;
        margin: 0;
      }
    }
  }

  .details_div {
    @media screen and (max-width: 758px) {
      width: 70%;
    }
  }

  .details {
    margin-left: 10px;
    margin-right: 10px;

    .name {
      margin-top: 10px;
      font-size: 20px;
      padding-top: 10px;
    }

    .description {
      font-size: 14px;
      margin-top: 10px;
      padding-top: 10px;
    }
  }

  .price {
    margin-left: 10px;
    bottom: 10px;
    margin-top: 30px;

    @media screen and (max-height: 767px) {
      bottom: 30px;
    }
  }

  .price_text {
    color: orange;
    font-size: 25px;
    font-weight: 500;
  }

  .quatity {
    font-size: 15px;
    color: bisque;
  }
}
}