
.main {
  background-color: rgb(243, 243, 243);
  margin-right: 30%;
  padding: 20px;
  min-height: 100vh;
  @media screen and (max-width: 1097px) {
    margin-right: 0;
  }
  .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @media screen and (max-width: 1097px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around;
      margin-left: -5x;
      margin-right: -5px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1097px){
      .content_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // background-color: antiquewhite;
      }
    }
    .content_cartImage{
      display:none;
      @media screen and (max-width: 1097px) {
        display: block;
        // background-color: aqua;
        margin-left: 30px;
        justify-content: center;
        img{
          height: 50px;
          width:50px;
        }
      }
    }
    @media screen and (max-width: 1097px) {
      flex-wrap: wrap;
    }
    .h1 {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: 600;
      @media screen and (max-width: 1097px) {
        font-size: 20px;
        font-weight: 600;
      }
    }

    p {
      margin-bottom: 40px;
      @media screen and (max-width: 1097px) {
        font-size: 18px;
      }
    }
  }
}
