.main{
    background-color:rgb(243, 243, 243);
    margin-right:30%;
    padding: 20px;
    min-height: 100vh;
    .category{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        margin-bottom: 50px;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin-bottom: 5px;
        }
        p{
            margin-bottom: 40px;
        }
        .searchbar{
            // position: absolute;
            // display: flex;
            // right: 35%;
            // top: 3%;
        }
    }
}
